[Unit]
Description=Hyper-AT (HAT) daemon
After=local-fs.target

[Service]
Type=simple
WorkingDirectory=/usr/lib/hatd
ExecStart=/usr/lib/hatd/hatd start
ExecStop=/usr/lib/hatd/hatd stop
Restart=on-abnormal
RestartSec=2s

[Install]
WantedBy=multi-user.target
Alias=hatd.service
